html, body {
    font-family: Helvetica, Sans, Verdana;
    font-size: 0.9em;
    margin: 0;
    
}

header {
    background-color: cornflowerblue;
    margin-bottom: 2em;
}

div {
    border: 1px solid gray;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
}

.container {
    display: flex;
    background-color: #ddd;
}

.container2 {
    display : inline-flex;
    background-color: #ddd;
}

.child {
    height: 4em;
}